body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
.container{
    width: 1000px;
    height: 550px;
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto;
    padding: 20px;
}
#calculator{
    width: 520px;
    height: 320px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px  ;
}